@import '../Variables/Variables.scss'; 

.btn-nav {
    background-color: $secondary-color !important;
    // -webkit-transition: background-color .7s;
    // transition: background-color .7s;
    
    &:hover {
        background-color: $primary-color !important;
    }
    
}

.btn-hero {
    background-color: $primary-color !important;
    color: $secondary-text-color !important;
    float: right;
    
    &:hover {
        background-color: $secondary-color !important;
    }
}