$primary-color: #e57a99;
$secondary-color:  #3391af;

$service-card-color-one: #c2bbf0;
$service-card-color-two: #3590f3;
$service-card-color-three: #8dc4d1;

$primary-text-color: #4d4d4d;
$secondary-text-color: #fff;

$hero-image-title: 3.5rem;
$hero-image-title-sm: 2.5rem;
$hero-image-text: 1.1rem;

$service-text: 1.1rem;

$button-border-color: #fff;
