@import '../../Variables/Variables.scss'; 

.partners-home-container {
    background-color: $service-card-color-three;

    h2 {
        font-size: $hero-image-title;
        color: $primary-text-color;

        @media (max-width: 768px) { 
            font-size: $hero-image-title-sm;
        }
    }

    p {
        color: $primary-text-color;
        widows: 100%;
        max-width: 75%;
        margin: 0 auto;

        @media (max-width: 768px) { 
            max-width: 100%;
        }
    }
}

.partners-home {
    width: 100%;
    max-width: 65%;
    margin: 0 auto;

    @media (max-width: 768px) { 
        max-width: 100%;
    }
}