
@import '../Variables/Variables.scss'; 
.footer {
    width: 50%;
    max-width: 100%;
    margin: 0 auto;

    a {
        color: $primary-text-color;
        -webkit-transition: color 0.5s;
        transition: color 0.5s;

        &:hover {
            color: $secondary-color;
            text-decoration: none;
        }
    }
}