@import '../Variables/Variables.scss';

.table {
    color: $secondary-color !important;
    font-weight: 600;
}

.table-hover tbody tr:hover {
    color: $secondary-text-color !important;
    background-color: $secondary-color !important;
}

.table th, .table td {
    padding: 1.2rem !important;
}

#priceList  {

    & thead th {
        background-color: $secondary-color;
        color: $secondary-text-color;
    }

    & tbody tr:first-of-type {
        display: none;
    }
}

.cc-container {

    img {
        width: 80px;
    }
}

.pricelist-footer {
    background-color: $secondary-color;
    color: $secondary-text-color;

    & svg {
        color: $secondary-text-color;
    }

    & a {
        color: $secondary-text-color;
        text-decoration: none;

        &:hover {
            color: $secondary-text-color;
        }
    }

    & span {
        color: $secondary-text-color;
    }
}
